@charset "UTF-8";
html, body, form, fieldset, p{margin:0;padding:0;color: #000;-webkit-text-size-adjust:none;font-size:14px;}
ul, li, ol, dl, dd, dt{list-style:none;padding:0;margin:0;}
*{margin:0;padding:0; /*outline: solid #f00 1px !important;*/}

.notification {
    float: left;  font-size: 11px;    color: #9d8271;    
    margin: 2px 0px 0px 0px;
    display: inline-block;
    z-index: 100;
    background-color: red;
    padding: 2px 4px 1px 2px;
    color: white;
    border-radius: 6px;
}

.regular {
    padding: 2%;
}

div#alert-invite {
    float: right;
    font-size: 11px;  
    margin-top: 5px;  color: #9d8271;  
    /* padding-right: 30px; */  
    padding-top: 13px;
    margin: 0px 20px;
}
a:focus {
    opacity:0.6;
}
:focus {
    outline: 0;
}
img{border:0;}
a{text-decoration:none;color:#f08200;}
a:focus{outline:0;}
a:hover{text-decoration:none;color:#7d7c7c;}
html , body{font-family: Arial, Helvetica, sans-serif;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;}
body {
    background: #fff;

}
img{border:0 none;}
.left{float:left;}
.right{float:right;}
.left{float:left;}
.clear{clear:both;}
.bold{font-weight:bold;}
p{font-size:14px;padding-bottom:8px;color: #000;line-height:1.3;}
h1{color:#ffffff;font-size:18px;font-weight:bold;margin-bottom:15px;}
h2{color:#f08200;font-size:14px;font-weight:bold;margin-bottom:15px;}
h3{color:#ffffff;font-size:12px;font-weight:bold;text-transform:uppercase;margin-bottom:10px;}
h4{color:#b4b4b4;font-size:12px;font-weight:bold;text-transform:uppercase;margin-bottom:10px;}
/*Start CSS*/

.title_sub {
    -webkit-background-size: auto 31px;
    -moz-background-size: auto 31px;
    background-size:auto 31px;
    height:31px;
    position:relative;
    color: #fff;  
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMV…8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg==);  background-repeat: repeat-x;  background-color: #3a5795;  border-bottom: 1px solid #133783;  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
}
.title_sub .logout {
    display:block;
    position:absolute;
    top:5px;
    right:10px;
    height: 31px;
    font-size:14px;	
}
.title_sub .logout a {
    color:#f4d246;
    text-decoration:underline;
}
.title_sub .num1 {
    display:block;
    line-height:31px;
    background-image: url(../images/KX6AJPTdnga.png);
    -webkit-background-size: 28px;
    -moz-background-size: 28px;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 0px 2px;
    text-indent:20px;
    font-size:14px;
    float: left;
    width: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 40px;
    padding-left: 13px;
}
.title_sub .num1 b {
    color:#f07a08;
}
/**/
.character {
}
.arrow_left {
    background:url(../images/arrow_left.png) no-repeat;
    -webkit-background-size: auto 16px;
    -moz-background-size: auto 16px;
    background-size:auto 16px;
    width:10px;
    height:16px;
    position:absolute;
    top:60px;
    left:13px;
    opacity:0.5;
    z-index:2;
    animation: arrowMoveLeft 0.5s infinite;
    -webkit-animation: arrowMoveLeft 0.5s infinite;
}

@keyframes arrowMoveLeft
{
    0%   {left:0px; opacity:0.1}
    50%  {left:5px; opacity:1}
    100% {left:0px; opacity:0.1}
}
@-webkit-keyframes arrowMoveLeft
{
    0%   {left:0px; opacity:0.1}
    50%  {left:5px; opacity:1}
    100% {left:0px; opacity:0.1}
}
.arrow_right {
    background:url(../images/arrow_right.png) no-repeat;
    -webkit-background-size: auto 16px;
    -moz-background-size: auto 16px;
    background-size:auto 16px;
    width:10px;
    height:16px;
    position:absolute;
    top:60px;
    right:13px;
    opacity:0.5;
    z-index:2;
    animation: arrowMoveRight 0.5s infinite;
    -webkit-animation: arrowMoveRight 0.5s infinite;
}

@keyframes arrowMoveRight
{
    0%   {right:0px; opacity:0.1}
    50%  {right:5px; opacity:1}
    100% {right:0px; opacity:0.1}
}
@-webkit-keyframes arrowMoveRight
{
    0%   {right:0px; opacity:0.1}
    50%  {right:5px; opacity:1}
    100% {right:0px; opacity:0.1}
}
/**/
.note_click {
    position:absolute;
    font-size:10px;
    top:10px;
    left:30px;
    color:#ded3b5;
}
.slider_char .spe_left {
    background:url(../images/spe_left.png) no-repeat;
    -webkit-background-size: auto 150px;
    -moz-background-size: auto 150px;
    background-size:auto 150px;
    width:17px;
    height:150px;
    position:absolute;
    top:10px;
    left:19px;
}
.slider_char .spe_right {
    background:url(../images/spe_right.png) no-repeat;
    -webkit-background-size: auto 150px;
    -moz-background-size: auto 150px;
    background-size:auto 150px;
    width:17px;
    height:150px;
    position:absolute;
    top:10px;
    right:18px;
}
.character .slider_char ,.character .create_char{
    min-height:100px;
    float:left
}
.character .slider_char {
    width:80%;
    position:relative;
}
.character .slider_char .slider_inner {
    margin:20px 20px 0px;
    min-height:150px;
    overflow-x:auto;
    overflow-y:hidden;

}
.character .create_char {
    width:20%;
}
/**/
.char_list {
    width:3000px;
}
.char_list li {
    float:left;
    margin:10px 10px 0px;
}
.char_list li a {
    display:block;
}
.char_list li .char_img {
    -webkit-background-size: auto 80px;
    -moz-background-size: auto 80px;
    background-size:auto 80px;
    width:80px;
    height:80px;
    margin:0px auto;
}
.char_list li .char1 { background:url(../images/nv_1.jpg);
                       -webkit-background-size: auto 80px;
                       -moz-background-size: auto 80px;
                       background-size:auto 80px;
}
.char_list li .char2 { background:url(../images/nv_2.jpg);
                       -webkit-background-size: auto 80px;
                       -moz-background-size: auto 80px;
                       background-size:auto 80px;
}
.char_list li .char3 { background:url(../images/nv_3.jpg);
                       -webkit-background-size: auto 80px;
                       -moz-background-size: auto 80px;
                       background-size:auto 80px;
}
.char_list li .char4 { background:url(../images/nv_4.jpg);
                       -webkit-background-size: auto 80px;
                       -moz-background-size: auto 80px;
                       background-size:auto 80px;
}

.char_list li .char_name {
    color:#ded3b5;
    font-size:12px;
    text-align:center;
    margin-top:5px;
}
.char_list li .char_level {
    color:#f17408;
    font-size:10px;
    text-align:center;
}
/**/
.create_char .char_img {
    background:url(../images/no_nv.jpg);
    -webkit-background-size: auto 80px;
    -moz-background-size: auto 80px;
    background-size:auto 80px;
    width:80px;
    height:80px;
    margin:30px auto 0px;
}
.create_char .char_name {
    color:#ded3b5;
    font-size:12px;
    text-align:center;
    margin-top:5px;
}
/**/
.spe_gradient {
    background: -moz-linear-gradient(left,  rgba(132,105,82,0) 0%, rgba(132,105,82,1) 50%, rgba(132,105,82,0) 100%); /* FF3.6+ */
    /* background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(132,105,82,0)), color-stop(50%,rgba(132,105,82,1)), color-stop(100%,rgba(132,105,82,0))); */ /* Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(left,  rgba(132,105,82,0) 0%,rgba(132,105,82,1) 50%,rgba(132,105,82,0) 100%); */ /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(132,105,82,0) 0%,rgba(132,105,82,1) 50%,rgba(132,105,82,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(132,105,82,0) 0%,rgba(132,105,82,1) 50%,rgba(132,105,82,0) 100%); /* IE10+ */
    /* background: linear-gradient(to right,  rgba(132,105,82,0) 0%,rgba(132,105,82,1) 50%,rgba(132,105,82,0) 100%); */ /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00846952', endColorstr='#00846952',GradientType=1 ); /* IE6-9 */

    height:2px;
    width:100%;
    position:relative;
    border-bottom: 1px solid #e9eaed;
}
.server_outter {
    background:#3c291b;
    width:100%;	
    min-height:150px;
    overflow-x:auto;
    overflow-y:hidden;
}
.server_inside {
    padding-top:5px;
    width:3000px;
}

.server_inside li {
    float:left;
    margin:10px 20px 0px;
}
.server_inside li a {
    display:block;
    background:url(../images/server.png);
    -webkit-background-size: auto 35px;
    -moz-background-size: auto 35px;
    background-size:auto 35px;
    width:111px;
    height:35px;
    line-height:35px;
    font-size:14px;
    text-align:center;
    font-size:14px;
    margin-bottom:10px;
    position:relative;
}
.server_inside li a.act {
    background:url(../images/server_act.png);
    -webkit-background-size: auto 35px;
    -moz-background-size: auto 35px;
    background-size:auto 35px;
    color:#fff;
}
.server_inside li a span {
    display:block;
    position:absolute;
    top:-5px;
    left:-5px;
}
.server_inside li a span.stt_bt {
    background:url(../images/stt_bt.png);
    -webkit-background-size: auto 16px;
    -moz-background-size: auto 16px;
    background-size:auto 16px;
    width:16px;
    height:16px;

}
.server_inside li a span.stt_day {
    background:url(../images/stt_day.png);
    -webkit-background-size: auto 18px;
    -moz-background-size: auto 18px;
    background-size:auto 18px;
    width:22px;
    height:18px;
}
.server_inside li a span.stt_hot {
    background:url(../images/stt_hot.png);
    -webkit-background-size: auto 25px;
    -moz-background-size: auto 25px;
    background-size:auto 25px;
    width:35px;
    height:25px;
    top:-10px;
    left:-10px;
}
.server_inside li a span.stt_moi {
    background:url(../images/stt_moi.png);
    -webkit-background-size: auto 20px;
    -moz-background-size: auto 20px;
    background-size:auto 20px;
    width:25px;
    height:20px;
    top:-10px;
    left:-10px;
}
.server_inside li a span.stt_tot {
    background:url(../images/stt_tot.png);
    -webkit-background-size: auto 17px;
    -moz-background-size: auto 17px;
    background-size:auto 17px;
    width:22px;
    height:17px;
}
/*------Tài kho?n choi th?-------*/
.newblock_server {
    background:#3c291b;

}
.newblock_server .dn_dk {
    float:left;
    width:20%;
    text-align:center;
    padding-top:10px;
}
.newblock_server .dn_dk a {
    display:inline-block;
    background:url(../images/dangnhap.png);
    -webkit-background-size: auto 35px;
    -moz-background-size: auto 35px;
    background-size:auto 35px;
    width:111px;
    height:35px;
    line-height:35px;
    font-size:14px;	
    color:#fff;
    margin:7px 0px 5px 10px;
    font-weight:bold;
}
.newblock_server .dn_dk a.dangky {
    background:url(../images/dangky.png);
    -webkit-background-size: auto 35px;
    -moz-background-size: auto 35px;
    background-size:auto 35px;
}
.server_outter2 {
    float:left;
    width:80%;
    position:relative;
}
.server_outter2 .spe_left {
    background:url(../images/spe_left.png);
    -webkit-background-size: auto 118px;
    -moz-background-size: auto 118px;
    background-size:auto 118px;
    width:13px;
    height:118px;
    position:absolute;
    top:10px;
    left:19px;
}

.server_outter3 {
    min-height:150px;
    overflow-x:auto;
    overflow-y:hidden;
    margin:10px 20px;
}
/*-------------Trang dang nh?p--------------*/	
.dn_dk_2 {
    text-align:center;
    background:#3c291b;
    padding-top:15px;
}
.dn_dk_2 a {
    display:inline-block;
    height:34px;
    width:111px;
    background:url(../images/dangnhap.png);
    -webkit-background-size: auto 34px;
    -moz-background-size: auto 34px;
    background-size:auto 34px;
    color:#fff;
    font-size:14px;
    line-height:34px;
    font-weight:bold;
    margin:5px 20px;
}
.dn_dk_2 a.dangky {
    background:url(../images/dangky.png);
    -webkit-background-size: auto 34px;
    -moz-background-size: auto 34px;
    background-size:auto 34px;
}
.note {
    font-size:11px;

}
/**/
.login {
    width:98%;
    margin:15px auto;
    font-size:14px;
}
.login td {
    padding:5px;
}
.login td input {
    width:100%;
    background:#fff8d5;
    height:30px;
    text-indent:20px;
    font-size:14px;
    border:none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.login .colum1 {
    text-align:right;
}

.login a.submit {
    display:inline-block;
    height:31px;
    width:90px;
    background:url(../images/vaogame.png);
    -webkit-background-size: auto 31px;
    -moz-background-size: auto 31px;
    background-size:auto 31px;
    color:#fff;
    font-size:14px;
    line-height:31px;
    font-weight:bold;
    text-align:center;
}


/**/
.facebook_login {
    text-align:center;
    margin-bottom:30px;
    font-size:11px;
}
.fb_btn {
    display:inline-block;
    height:18px;
    width:68px;
    background:url(../images/facebook.png) no-repeat;
    -webkit-background-size: auto 18px;
    -moz-background-size: auto 18px;
    background-size:auto 18px;
    vertical-align:middle;
}
/**/
.list_event {
    padding-bottom:60px;
    color: #000;
}
.list_event li {
    padding-top:5px;
    /* background-color: #e9eaed; */  
    /* border-color: #e9eaed; */  
    /* -webkit-box-shadow: 1px 0 0 #e9eaed inset; */  
    /* border-bottom: 1px solid #dcdee3; */  
}

li:hover {
    background-color: #dcdee3;    
}
.list_event li .spe_gradient {
    margin-top:5px;
}
.list_event li .content_event {
    float:left;
    padding-left:10px;
    color: #000;
    width: 50%;
}
.list_event li .content_event .title_big {
    font-weight:bold;
    color: #3b5998;
}
.list_event li .content_event .des_short {
    font-size:11px;
    margin-top:5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list_event li .button_action {
    float:right;
    margin-right:0px;
    white-space: nowrap;
    display: inline-block;
    padding-right: 10px;
    width: 40%;
    text-align: right;
}
.list_event li .button_action a , .nav_check .button_submit a {
    text-align:center;
    display: inline-block;    height: 34px;    
    width: 65px;        
    -webkit-background-size: auto 34px;    -moz-background-size: auto 34px;    background-size: auto 34px;    
    color: #3b5998;    font-size: 14px;    
    line-height: 34px;    
    /* font-weight: bold; */    
    margin: 5px 0px;    
    background-color: transparent;    border-radius: 5px;
    float: right;
}
.list_event li .button_action a.off {
    background:url(../images/dangnhap_off.png);
    -webkit-background-size: auto 34px;
    -moz-background-size: auto 34px;
    background-size:auto 34px;
}
/**/
.list_event li .avatar {
    float:left;
    margin-left:10px;
}
.list_event li .avatar img {
    width:40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
/**/
.nav_check {
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height: 32px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAqCAMAAABFoMFOAAAAWlBMV…8/UxBxQDQuFwlpqgBZBq6+P+unVY1GnDgwqbD2zGz5e1lBdwvGGPE6OgAAAABJRU5ErkJggg==);  background-repeat: repeat-x;  background-color: #3a5795;  
    border-top: 1px solid #133783;  -webkit-box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .52);
}
.nav_check .checkall {
    float:left;
    margin-left:20px;
}
.nav_check .button_submit {
    float:right;
    margin-right:0px;
}
.nav_check .button_submit a {
    font-size:13px;
}
span.checkon , span.checkoff {
    display:inline-block;
    background:url(../images/checked.png) no-repeat;
    -webkit-background-size: auto 19px;
    -moz-background-size: auto 19px;
    background-size:auto 19px;
    width:21px;
    height:19px;
    cursor:pointer;
    margin-right:20px;
    margin-top:10px;
}
span.checkoff {
    background:url(../images/checkoff.png) no-repeat;
    -webkit-background-size: auto 19px;
    -moz-background-size: auto 19px;
    background-size:auto 19px;
}
/**/
.checkall span { margin-right:5px;}

.alert-like, #alert-post{
    font-size: 11px;
    margin-top: 5px;
    color: #9d8271;
    padding-right: 30px;
    padding-top: 16px;

}

#alert-post{
    float: right;
}

#confirm, .iframe-fb{
    float:left;
}
.iframe-fb{
    padding-top:13px;
}
.title_big{
    padding-top: 12px;
}
.list_confirm{
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: #e9eaed;  
    height: 100%;
    display: none;
}
/**/
.dialog {
    background: rgba(0,0,0,0.4);
    width:100%;
    height:100%;
    position:absolute;
    z-index: 1000;
    top:0px;
    display: none;
}
.poup_nap {
    position:absolute;
    z-index:2;
    top:30px;
    left:0px;
    right:0px;
    width:80%;
    margin:30px auto 0px;
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align:center;
}
/**/
/**/
.poup_nap .pay_header {
    background: #5d4336; /* Old browsers */
    background: -moz-linear-gradient(top,  #5d4336 0%, #3c2b23 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d4336), color-stop(100%,#3c2b23)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5d4336 0%,#3c2b23 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5d4336 0%,#3c2b23 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5d4336 0%,#3c2b23 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #5d4336 0%,#3c2b23 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d4336', endColorstr='#3c2b23',GradientType=0 ); /* IE6-9 */
    -webkit-box-shadow: inset 0px 1px 0px 0px #8e7c73;
    box-shadow: inset 0px 1px 0px 0px #8e7c73;
    border-bottom:1px #120e0b solid;
    /*background:url(../images/pay_title_bg.png) repeat-x;*/
    height:40px;
    line-height:40px;
    color:#e8dacf;
    font-weight:bold;
    font-size:18px;
    text-align:center;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.poup_nap table {
    margin:0px auto;
    width:70%;
    margin-top:20px;
    margin-bottom:10px;
}
.poup_nap table td {
    padding:5px;
}
.poup_nap table td.text {
    color:#4e382e;
    font-size:14px;
    font-weight:bold;

}
.poup_nap table td.input input {
    height:20px;
}
.poup_nap table td.button button {
    display:inline-block;
    padding:7px 20px;
    /* background: #e79300; */ /* Old browsers */
    background: -moz-linear-gradient(top,  #e79300 0%, #dd8200 100%); /* FF3.6+ */
    /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e79300), color-stop(100%,#dd8200)); */ /* Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(top,  #e79300 0%,#dd8200 100%); */ /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e79300 0%,#dd8200 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e79300 0%,#dd8200 100%); /* IE10+ */
    /* background: linear-gradient(to bottom,  #e79300 0%,#dd8200 100%); */ /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e79300', endColorstr='#dd8200',GradientType=0 ); /* IE6-9 */
    border: 1px #31aa27 solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* -webkit-box-shadow: inset 1px 1px 0px 0px #eeb44d; */
    /* box-shadow: inset 1px 1px 0px 0px #eeb44d; */
    margin-left:10px;
    color:#fff;
    text-transform:uppercase;
    /* font-weight:bold; */
    /* font-size:16px; */

}
.poup_nap table td.button button.huy { /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */ /* IE10+ */ /* W3C */
    /* IE6-9 */
    background-color: #4e69a2;    border-color: #435a8b #3c5488 #334c83;
    text-transform: none;}
#dialog_message{
    padding: 10px;
    color: #3b5998;
    font-weight: normal;
}
#alert-share{
    float: right;  font-size: 11px;  margin-top: 5px;  color: #9d8271;  /* padding-right: 30px; */  padding-top: 13px;  
    margin: 0px 20px;
    /* position: absolute; */
}

.account_info{
    white-space: nowrap;
    float: right;
    display: block;  line-height: 31px;    -webkit-background-size: auto 12px;  -moz-background-size: auto 12px;  background-size: auto 12px;  text-indent: 20px;  font-size: 14px;
    padding-right: 10px;
    /* width: 48%; */
    text-align: right;
}
.avatar-login{
    width: 20px;
    top: 4px;
    margin: 2px;
    position: absolute;
    border-radius: 10px;
}
#facebook_name{
    padding-left: 23px;
}
.like_fan_page{
    text-align: center;  display: inline-block;  height: 34px;  
    width: 80px;  -webkit-background-size: auto 34px;  -moz-background-size: auto 34px;  background-size: auto 34px;  color: #fff;  font-size: 14px;  line-height: 34px;  font-weight: bold;  
    margin: 5px 0px;  
    /* background-color: #17ae0c; */  border-radius: 5px;  
    /* float: right; */
    vertical-align: middle;
}
.like_fan_page iframe{
    margin-top: 9px;   
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

.btnlogin{
    color: #fff;//#3a5795;
}
.btnlogout{}

.cancel a{height: 25px !important;
          line-height: 25px !important;          
          margin: 4px 20px  !important;
          background-color: transparent !important;
          color: #133783 !important;         
}

.btncancel{
    white-space: nowrap;     z-index: 20px;    -moz-border-radius: 5px;     -webkit-border-radius: 5px;      border-radius: 5px;      -moz-box-shadow: 0px 0px 4px #222;      -webkit-box-shadow: 0px 0px 4px #222;      box-shadow: 0px 0px 4px #222;      background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);      background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);      background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);      background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);      background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    width: 50px !important;
}

.UFITopIcon {
    background-image: url(/onepiece/img/MXR79JiNvQn.png);
    background-repeat: no-repeat;    
    background-size: 24px;
    background-position: 0px -231px;
    width: 14px;
    height: 15px;  
    position: absolute;
    margin-top: 9px;
    /* margin-left: 20px; */
}

.UFIShareIcon {
    background-image: url(/onepiece/img/icon_fb.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: -48px -609px;
    width: 14px;
    height: 15px;  
    position: absolute;
    margin-top: 9px;
    margin-left: 0px;
}

.UFIInviteIcon {
    background-image: url(/onepiece/img/invite.png);
    background-repeat: no-repeat;
    background-size: 14px;
    width: 14px;
    height: 15px;  
    position: absolute;
    margin-top: 9px;
    /* margin-left: 18px; */
}
.UFIFriendIcon {
    background-image: url(/onepiece/img/MXR79JiNvQn.png);
    background-repeat: no-repeat;    
    background-size: 24px;
    background-position: 0px -279px;
    width: 14px;
    height: 15px;  
    position: absolute;
    margin-top: 9px;
    /* margin-left: 20px; */
}
.UFISaveCodeIcon {
    background-image: url(/onepiece/img/MXR79JiNvQn.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 0px -577px;
    width: 14px;
    height: 15px;  
    position: absolute;
    margin-top: 9px;
    /* margin-left: 20px; */
}
.UFIRuleIcon {
    background-image: url(/onepiece/img/MXR79JiNvQn.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 0px -388px;
    width: 14px;
    height: 15px;  
    position: absolute;
    margin-top: 9px;
    /* margin-left: 20px; */
}

.UFIConfirmIcon {
    background-image: url(/onepiece/img/MXR79JiNvQn.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 0px -372px;
    width: 14px;
    height: 15px;  
    position: absolute;
    margin-top: 9px;
    margin-left: -15px;
}
.UFIHome {
    background-image: url(/onepiece/img/MXR79JiNvQn.png);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 0px -452px;
    width: 14px;
    height: 15px;  
    position: absolute;
    margin-top: 9px;
    /* margin-left: 20px; */
}

.UFIUnSelect {
    background-image: url(/onepiece/assets/efacebook/images/vBdihxcKuAz.png);
    background-repeat: no-repeat;
    background-size: 321px 101px;
    background-position: -188px -53px;
    width: 24px;
    height: 24px;  
    position: absolute;
    /* margin-top: 9px; */
    /* margin-left: 20px; */
    right: 14px;
    margin-top: 7px;
}

.UFISelect {
    background-image: url(/onepiece/assets/efacebook/images/vBdihxcKuAz.png);
    background-repeat: no-repeat;
    background-size: 321px 101px;
    background-position: -137px -53px;
    width: 24px;
    height: 24px;  
    position: absolute;
    /* margin-top: 9px; */
    /* margin-left: 20px; */
    right: 14px;
    margin-top: 7px;
}
.UFITouchable {
    background-image: url(/onepiece/assets/efacebook/images/vBdihxcKuAz.png);
    background-repeat: no-repeat;
    background-size: 321px 101px;  
    width: 38px;    height: 34px;    background-position: -92px -50px;
    position: absolute;
    /* margin-top: 9px; */
    /* margin-left: 20px; */
    right: 12px;
}
.icon-search {
    background-image: url(/onepiece/assets/efacebook/images/vBdihxcKuAz.png);
    background-repeat: no-repeat;
    background-size: 321px 101px;          
    background-position: 0px 0px;
    position: absolute;
    display: -webkit-inline-box;    height: 42px;    
    width: 100%;
}
.searching {          
    position: absolute;
    height: 42px;    
    margin: 0px 20px 0 0px;
    padding: 1px 20px 0 40px;
    -webkit-appearance: none;    -webkit-box-sizing: border-box;    width: 100%;
    background-image: url(/onepiece/assets/efacebook/images/vBdihxcKuAz.png);    background-repeat: no-repeat;    background-size: 321px 101px;    background-position: 0px 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.search_friends {  
    width: 100%;    
    height: 42px;    
    position: absolute;
    z-index: 400;
}
#friends{padding-top: 65px;}
.code {color: #7b0205;}

.send {
    color: #fff !important;
    float: left!important;
    bottom: -7px !important;
    position: fixed;
}
.cancel_send{
    left: 0px;

    position: absolute;
    z-index: 900;
    border-right: 1px solid #fff;    border-radius: 0px !important;
    width: 28% !important;
}
.send_all{
    right: 10px;

    position: absolute;
    z-index: 900;
    border-left: 1px solid #fff;
    border-radius: 0px !important;
    width: 28% !important;
}
.send_in{

    position: absolute;
    z-index: 600;
    left: 0px;
    width: 100% !important;
}

.loading{
    height: 100%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
.icon-loading{
    vertical-align: middle;
    position: absolute;
    top: 50%;
}
.friends_paging{
    width: 100%;        
    position: absolute; 
    padding-top: 40px;
    z-index: 300;
}
.paging{
    width: 100%;    
    height: 25px;
}

.table-role {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;width: 100%;border-collapse: collapse;margin-top: 10px;}
.table-role td, .table-role th {font-size: 12px;border: 1px solid #000;padding: 3px 7px 2px 7px;text-align: center;}
.table-role th {font-size: 13px;text-align: center;padding-top: 5px;padding-bottom: 4px;background-color: #3A5795;color: #fff;}
.table-role tr.alt td {color: #000;background-color: #fce1cc;}

/*Tuan Duong Edited*/
.blockUI input[type="button"] {width: 100px; height: 35px;}
.blockUI.blockPage {border: 1px solid #3A5795 !important; background-color: #FFF !important;padding: 10px !important;width: 288px !important;left: 50% !important;margin-left: -155px !important;}
.blockUI.blockMsg.blockPage h1 {color: white;}
.blockUI.blockPage h1 {font-size: 1.1em;}
#mess_quest {color: #000; text-transform: none;}